1.	Write a Python Program to Find the Factorial of a Number?

In [1]:
def factorial(number):
    out=1
    if number>0:
        for n in range(1,number+1):
            out*=n
    return out

In [2]:
factorial(5)

120

In [3]:
factorial(1)

1

In [4]:
factorial(0)

1

2.	Write a Python Program to Display the multiplication Table?

In [5]:
def mult_table(table_number,table_depth):
    for multiplicator in range(1,table_depth+1):
        print(f"{table_number} X {multiplicator} = {table_number*multiplicator}")

In [6]:
mult_table(2,9)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [7]:
mult_table(2,20)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40

3.	Write a Python Program to Print the Fibonacci sequence?

In [8]:
def fibonnaci(fib_level):
    a=0
    b=1
    for _ in range(fib_level):
        print(a)
        temp=a
        a=b
        b+=temp

In [9]:
fibonnaci(10)

0
1
1
2
3
5
8
13
21
34

In [10]:
def armstrong_number(main_number):
    check=0
    number=str(main_number)
    pow_fact=len(number)
    for n in number:
        check+=int(n)**pow_fact
    return main_number==check

In [11]:
armstrong_number(153)

True

In [12]:
armstrong_number(21)

False

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [13]:
def armstrong_in_range(start,stop):
    for number in range(start,stop+1):
        if armstrong_number(number):
            print(number)

In [14]:
armstrong_in_range(1,200)

1
2
3
4
5
6
7
8
9
153

In [15]:
armstrong_in_range(100,1000)

153
370
371
407

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [16]:
def sum_of_natural_numbers(*numbers):
    sum_output=0
    for number in numbers:
        if type(number)==int and number>0:
            sum_output+=number
    return sum_output

In [17]:
sum_of_natural_numbers(1,2,'5',2.0,3)

6